.head1_post {
    display: flex;
    justify-content: left;
    align-items: center;
    height: 70px;
    width: 100%;
    background-color: #fff;
    z-index: 100;
    border-bottom: 1px solid #0000003B;
}

.body_post {
    padding: 14px;
    min-height: 100px;
    height: auto;
    background-color: #fff;
}

.footer_post {
    display: flex;
    justify-content: left;
    align-items: center;
    height: 36px;
    width: 100%;
    background-color: #fff;
    border-top: 1px solid #0000003B;
}

.profile_img2 {
    width: 50px;
    height: 50px;
    border-radius: 200px;
}

.head1_post h4 {
    font-size: 22px;
    font-weight: bold;
    color: #1284ED;
}

.post_content {
    padding: 0 16px;
    background-color: white;
}

.footer_post p {
    padding: 10px;
    font-size: 14px;
    align-items: center;
    color: #3E3B3B;
}

.footer_post p i {
    padding: 12px;
    font-size: 18px;
    align-items: center;
    color: #3E3B3B;
}

@media screen and (max-width:768px) {
    .post_content {
        padding: 0 10px;
    }

    .post {
        padding: 0px;
    }
}